    body {
        width: 1024px;
        margin: 50px auto;
        background-color: #FBFAF9;

    }
    /* 스크롤바 삭제 */



    /* 메뉴바 */
    #menubar {
        position: fixed;
        width: 1024px;
    }

    ul#menu {
        list-style-type:none;
        width: 550px;
        margin : 0 auto;
    }
    #menu li {  
        float : left;
        margin-right: 60px;
        font-size: 20px;
        transform: translate(294px, -37px);
    }

    ul#menu a {
        font-family: 'Zilla Slab', sans-serif;
        font-size: 21.5px;
        text-decoration: none;
        color: #6e6a67;
    }

    li#logo {
        list-style-type:none;
        margin: 0;
        float: left;
        transform: translate(41.5px, -56px);
    }

    #logoImg {
        width: 200px;
    }

    ul#menu li:hover>a {
        text-shadow: 0.1px 0.1px 0.1px gray;
        font-size : 1.08em;
        color: #91877F;
        padding : 3px 5px 5px;
        border: 1px solid #91877F;
    }

    .language {
        display: inline;
    }
    
    .lang {
        list-style-type: none;
        color: #91877F;
        margin-right: 50px;
        transform: translate(-80px, -18px);
    }
    
    .lang a {
        margin-top: -10px;
        color: #91877F;
        text-decoration: none;
    }

